ErrorDocument 404 /login
<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On
</IfModule>

<IfModule mod_rewrite.c>
	# Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]
    
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ public/index.php/$1 [L]

	RewriteCond %{REQUEST_URI} !^/public/
	RewriteRule (.*) /public/$1
</IfModule>