/* Hack to remove detestable yellow background on autofill fields in Chrome */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset; }
input:focus:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset; }

html { overflow: auto; }

#notifications                          { position: fixed; top: 0px; width: 100%; z-index: 2000; }
#notifications .notification            { display: block; text-align: center; color: #fff; padding: 15px 0; font-size: 20px; font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
#notifications .notification.success    { background: #1ab394; color: #fff; }
#notifications .notification.danger     { background: #d70303; color: #fff; }

.nav-min #nav > li > a > span.text 		{ display: none; }
#nav ul.open 							{ display: block; }

a 										{ text-decoration: none !important; }
.breadcrumb 							{ margin: 10px 0; }

.sortable 								{ cursor: pointer; }
.sortable i								{ margin-left: 10px; }
.sortable.sorting 						{ color: #169d9f; }

.btn .caret 							{ margin-left: 10px; }

.has-error .btn 						{ border-color: #ED5565; }


.modal-content 							{ background-clip: padding-box; background-color: #FFFFFF; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 4px; box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); outline: 0 none; position: relative; }
.modal-body 							{ padding: 20px 30px 30px 30px; }

#loader 								{ display: none; }
#loader .spinner 						{ display: block; position: fixed; z-index: 1031; top: 15px; right: 15px; }
#loader .spinner-icon 					{ width: 18px; height: 18px; box-sizing: border-box; border: solid 2px transparent; border-top-color: #1AB394; border-left-color: #1AB394; border-radius: 50%; -webkit-animation: loader-spinner 400ms linear infinite; animation: loader-spinner 400ms linear infinite; }
.loader-custom-parent 					{ overflow: hidden; position: relative; }
.loader-custom-parent #loader .spinner,
.loader-custom-parent #loader .bar 		{ position: absolute; }

@-webkit-keyframes loader-spinner 		{ 0%   { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); } }
@keyframes loader-spinner 				{ 0%   { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }

.dropcap-square.grey, .dropcap-circle.grey 	{ background-color: #ddd; color: #fff; margin-right: 10px; }

.hr-line-dashed 							{ border-top: 1px dashed #E7EAEC; color: #ffffff; background-color: #ffffff; height: 1px; margin: 20px 0; }

.gallery-thumb               			{ position: relative; display: block; float: left; margin: 0 3px 3px 0; } 
.gallery-thumb img			    		{ width: 150px;  -webkit-transition-duration: 200ms; transition-duration: 200ms;  }
.gallery-thumb .icheckbox_square-green 	{ position: absolute; bottom: 10px; right: 10px; }
.gallery-thumb.selected img				{ border: 4px solid #2c8f7b; }

.table .search-term 					{ background: #eee;  }

.fileinput-button { position: relative; overflow: hidden; }
.fileinput-button input { position: absolute; top: 0; right: 0; margin: 0; opacity: 0; -ms-filter: 'alpha(opacity=0)'; font-size: 200px; direction: ltr; cursor: pointer; }

.js-dropdown-select.width-100 					{ width: 100%; }
.js-dropdown-select.width-100 .btn 				{ width: 100%; text-align: left; }
.js-dropdown-select.width-100 .display-value	{ display: inline; }
.js-dropdown-select.width-100 .caret 			{ float: right; margin: 8px 0; }
.js-dropdown-select.width-100 .dropdown-menu 	{ width: 100%; }

.js-dropdown-select .btn 						{ width: 100%; text-align: left; }
.js-dropdown-select .display-value				{ display: inline; }
.js-dropdown-select .caret 						{ float: right; margin: 8px; }
.js-dropdown-select .dropdown-menu 				{ width: 100%; }

.no-caret .caret 								{ display: none; }

.dropdown-search-input 							{ margin: 10px 20px 10px 20px; overflow: hidden; }
.dropdown-menu > li > a.active 					{ background: #1AB394; color: #fff; }
.dropdown-menu > li > a:focus 					{ outline: none; }
.input-static 									{ padding-top: 7px; }
.pull-right.inline 								{ margin-left: 10px; }

.closed 	{ display: none; }
.contain 	{ overflow: auto; }

#lockScreen 									{ display: none; background: url("../images/background/1.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; z-index: 100; top: 0; left: 0; position: absolute; bottom: 0; width: 100%; overflow-y: auto; -webkit-overflow-scrolling: touch; -webkit-overflow-scrolling: -blackberry-touch; -moz-transition: none; -o-transition: none; -webkit-transition: none; transition: none; }
.app-locked #lockScreen 						{ display: block; }
.page-lock .lock-box .lock-pwd input 			{ border: none; box-shadow: none !important; }
.page-lock.has-error .lock-box .lock-pwd input	{ color: #E94B3B; }
.page-lock.has-error .lock-box .btn-submit i 	{ color: #E94B3B; } 
.lock-sub 										{ padding-top: 200px; }

.page-signup .form-container					{ min-width: 800px; }

.form-group.condensed							{ margin-bottom: 5px; }

.page-signin .signin-header, .page-signup .signin-header {
	padding: 0;
}

.half { width: 48.5%; }

.signin-header { background: url(../../front/img/bg.jpg); border-bottom: 1px solid #ddd; }

.input-group-lg .input-group-addon .glyphicon { line-height: 17px; }

.form-group > div 						{ margin-bottom: 10px; }
.form-horizontal .control-label 		{ margin-bottom: 10px; }
.js-dropdown-select .dropdown-toggle 	{ position: relative; z-index: 2; float: left; width: 100%; margin-bottom: 0; border-bottom-left-radius: 0; border-top-left-radius: 0; text-align: left; }
.js-dropdown-select .dropdown-toggle.placeholding .display-value { color: #999; }

.js-dropdown-select .dropdown-toggle .caret { float: right; margin: 8px 0; }
.input-group .dropdown-menu 			{ margin-left:  40px; width: calc(100% - 40px); }

.list-info li 							{ padding: 10px; border-bottom: 1px dashed #E7EAEC; }
.list-info.top-padding 					{ padding-top: 30px; }
.list-info li .icon.light 				{ color: #bbb; }
.list-info li label 					{ width: 120px; }

.label-fixed-width						{ width: 65px; display: inline-block; }


.select2-container--default .select2-selection--single {
	border-radius: 2px!important;
	height: 34px!important;
	padding: 2px!important;
	border-color:#ccc!important;
}

.select2-container--default .select2-selection--single:hover {
	background: #e6e6e6;
	border-color: #adadad;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	margin-top: 3px;
	margin-right: 6px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: black transparent transparent transparent!important ;
}