
@page {
    margin: 2cm;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 10pt;
    line-height: 1.3;
    color: #000;
}


.width-100 { width: 100%; }
.width-70 { width: 70%;  }

.footer 					{ position: absolute; bottom: 0px; }
.footer .content 			{ position: absolute; top: 0; left: 0; }
.footer .content .twitter 	{ position: absolute; top: 180px; right: 65px; color: #888; font-size: 8pt; text-decoration: none; }
.footer .content .web 		{ font-size: 12pt; color: #222; position: absolute; top: 120px; right: 60px; text-decoration: none;  }
.footer .content .contact 	{ color: #888; font-size: 12pt; position: absolute; left: 220px; top: 120px; }
.footer .content .contact a { color: #888; text-decoration: none; }

.page-break {page-break-after: always;}

.grey 		{ background: #e6e6e6; width: 100%; padding: 20px; }

.grey tr td:first-child { width: 40%; }

.text-right { text-align: right; }

.small { font-size: 8pt; }

.legend 	 						{ border-spacing: 10px; }
.legend td 							{ text-align: center; padding: 10px 5px; }
.legend .heading 					{ width: 22%; color: #fff; }
.legend .heading.green  			{ background: #82b54e; border: 5px solid #82b54e; }
.legend .heading.red  				{ background: #b1483a; border: 5px solid #b1483a; }
.legend .description 				{ font-size: 6pt; }
.legend .description:first-child 	{ margin-right: 2%; }
.legend .description.green 			{ border: 5px solid #5d9b21; }
.legend .description.red 			{ border: 5px solid #b1483a; }